@import "vars";

/*filter*/

.az-catalog{
	@include mobile(768){
		h1{
			margin-bottom: 0;
		}
	}
}

.az-select-title{
	color: #3b413c;
	font-size: 22px;
	line-height: 22px;
	margin: 30px 0 15px;
	font-family: "ArimoBold";
	font-weight: normal;
}

.az-select{
	width: 100% !important;
	outline: 0;
	.btn{
		background-color: transparent !important;
		color: #3b413c !important;
		outline: 0 !important;
		border: 1px solid #bcbcbc !important;
		border-radius: 0 !important;
		padding-left: 10px;
		height: 35px !important;
		box-shadow: none !important;
		&:hover, &:active, &:focus{
			outline: 0 !important;
			box-shadow: none !important;
		}
		.caret{
			width: 35px;
			height: 35px;
			top: -1px !important;
			right: -1px !important;
			margin: 0 !important;
			border: 0 !important;
			background: #3b65ba url(../img/az-select-arrow.png) no-repeat center;
		}
	}
	.dropdown-menu.open{
		margin: -1px 0 0 0 !important;
		border-radius: 0 !important;
		border: 1px solid #bcbcbc !important;
		min-width: 72% !important;
		left: auto !important;
		right: 0 !important;
		padding: 0 !important;
		li{
			border-bottom: 1px solid #bcbcbc !important;
			&:last-child{
				border-bottom: 0 !important;
			}
			a{
				line-height: 35px !important;
				padding: 0 8px;
			}
		}
	}
}

.az-col2-title{
	color: #3b413c;
	font-size: 22px;
	line-height: 22px;
	margin: 30px 0 10px;
	font-family: "ArimoBold";
	font-weight: normal;
}

.az-col2-subtitle{
	color: #3b413c;
	font-size: 14px;
	line-height: 14px;
	margin: 20px 0 10px;
	font-family: "ArimoBold";
	text-transform: uppercase;
	font-weight: normal;
}

.az-radio-wrap{
	margin: 6px 0;
	input[type="radio"]{
		display: none;
	}
	label{
		position: relative;
		padding-left: 35px;
		color: #3b413c;
		font-size: 14px;
		line-height: 20px;
		margin: 0;
		font-family: "ArimoBold";
		font-weight: normal;
		cursor: pointer;
		&::before{
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			content: '';
			width: 20px;
			height: 20px;
			display: inline-block;
			border: 1px solid #bfc0c0;
			border-radius: 50%;
		}
	}
	input[type="radio"]:checked+label{
		&::after{
			position: absolute;
			top: 50%;
			left: 5px;
			transform: translateY(-50%);
			content: '';
			width: 10px;
			height: 10px;
			display: inline-block;
			border-radius: 50%;
			background: #3b65ba;
		}
	}
}

.az-col3-title{
	color: #3b413c;
	font-size: 22px;
	line-height: 22px;
	margin: 30px 0 10px;
	font-family: "ArimoBold";
	font-weight: normal;
	@include mobile(768){
		margin: 20px 0 10px;
	}
	@include mobile(1200){
		margin: 30px 0 10px;
	}
}

#minCost, #maxCost{
	display: none;
}

.az-col3-left{
	float: left;
	width: 50%;
	padding-right: 10px;
	font-size: 0;
}

.az-col3-right{
	float: right;
	width: 50%;
	padding-left: 10px;
	font-size: 0;
	text-align: right;
}

.az-span-filter{
	display: inline-block;
	vertical-align: middle;
	color: #3b413c;
	font-size: 18px;
	line-height: 35px;
	font-family: "ArimoBold";
	width: 37px;
	padding-right: 10px;

}

.az-DistSpan{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 37px);
	color: #3b413c;
	border: 1px solid #bcbcbc;
	border-radius: 0;
	padding: 0 10px;
	height: 35px;
	max-width: 100px;
	font-size: 16px;
}

.az-range-slider{
	padding: 30px 10px;
	@include mobile(768){
		padding: 30px 0px;
	}
	.ui-slider{
		border: 0;
		background: #90a6d3;
		border-radius: 0;
		height: 5px;
	}
	.ui-slider-range{
		background: #3b65ba;
		border-radius: 0;
	}
	.ui-slider-handle{
		border: 0;
		width: 30px;
		height: 30px;
		background: transparent url(../img/az-slider-handle.png) no-repeat center top 2px;
		top: 5px;
		margin-left: -15px;
		outline: 0;
		cursor: pointer;
	}
}

.az-col4{
	display: none;
}

.az-filter{
	font-size: 0;
}

.az-filter-col1{
	@include mobile(768){
		display: inline-block;
		vertical-align: top;
		width: 45%;
		padding-right: 12px;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			top: 20px;
			right: 0;
			width: 1px;
			height: 230px;
			background: #d9d9d9;
		}
	}
	@include mobile(1200){
		width: 33.33%;
		&::after{
			height: 180px;
		}
	}
}

.az-filter-col2{
	@include mobile(768){
		display: inline-block;
		vertical-align: top;
		width: 55%;
		padding-left: 12px;

	}
	@include mobile(1200){
		width: 33.33%;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			top: 20px;
			right: 0;
			width: 1px;
			height: 180px;
			background: #d9d9d9;
		}
	}
}

.az-filter-col3{
	@include mobile(768){
		display: inline-block;
		vertical-align: top;
		width: 66.66%;
		padding-right: 38px;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			top: 20px;
			right: 0;
			width: 1px;
			height: 120px;
			background: #d9d9d9;
		}
	}
	@include mobile(1200){
		width: 33.33%;
		padding-left: 10px;
		&::after{
			display: none;
		}
	}
}

.az-filter-col4{
	@include mobile(768){
		display: inline-block;
		vertical-align: top;
		width: 33.33%;
		padding-left: 12px;
		padding-right: 15px;
	}
	@include mobile(1200){
		width: 100%;
	}
}

.az-filter-submit{
	padding-top: 37px;
	text-align: center;
	@include mobile(1200){
		padding-top: 5px;
		text-align: right;
		border-top: 2px solid #e4e5ed;
	}
	@include desktop(768){
		display: none;
	}
	.az-submit{
		height: 35px;
		line-height: 31px;
		font-size: 12px;
		@include mobile(1200){
			max-width: 120px;
		}
	}
}

.az-reset{
	font-size: 12px;
	font-family: "ArimoBold";
	text-transform: uppercase;
	background: transparent;
	border: 0;
	color: #3b65ba;
	margin-top: 25px;
	@include mobile(1200){
		margin-left: 10px;
		margin-top: 0px;
	}
	&:hover{
		text-decoration: underline;
	}
}

/*filter*/





/*filter result*/

.az-cat-result{
	font-size: 0;
	@include mobile(1200){
		padding-top: 20px;
	}
}

.az-result-col{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	width: 100%;
	padding: 0 7px;
	@include mobile(480){
		width: 50%;
	}
	@include mobile(1200){
		width: 33.33%;
	}
}

.az-result-item{
	max-width: 303px;
	margin: 0 auto;
	padding-top: 20px;
	margin-top: 10px;
	border-top: 2px solid #e4e5ed;
	@include mobile(768){
		border-bottom: 2px solid #e4e5ed;
		border-top: 0;
		padding-bottom: 10px;
		margin-top: 0;
	}
	h3{
		font-family: "RobotoCondensedBold";
		color: #3b65ba;
		font-weight: normal;
		font-size: 24px;
		line-height: 24px;
		text-align: center;
		margin: 15px 0 10px;
	}
	p{
		color: #3b413c;
		font-size: 18px;
		font-family: "ArimoRegular";
		line-height: 20px;
		margin: 15px 0;
		font-weight: normal;
		@include mobile(768){
			font-size: 15px;
			margin-bottom: 0;
		}
		@include mobile(1200){
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
}

.az-resilt-img{
	img{
		width: 100%;
		height: auto;
	}
}

.az-result-subtitle{
	display: block;
	color: #3b413c;
	font-size: 18px;
	font-family: "ArimoBold";
	line-height: 20px;
	text-align: center;
}

.az-res-more{
	text-align: right;
}

.az-result-more{
	margin-top: 20px;
	text-align: center;
	a{
		text-align: center;
		font-family: "ArimoBold";
		font-size: 12px;
		display: inline-block;
		vertical-align: top;
		height: 35px;
		border: 2px solid #3b65ba;
		color: #fff;
		line-height: 33px;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		background: #3b65ba;
		padding: 0 15px;
		transition: background 0.6s ease;
		&:focus, &:active{
			color: #fff;
			text-decoration: none;
		}
		&:hover{
			color: #3b65ba;
			background: #fff;
			text-decoration: none;
		}
	}
	@include desktop(768){
		display: none;
	}
}
/*filter result*/