@import "vars";

/*header top*/

.az-header-top{
	background: #444b50;
	height: 23px;
	line-height: 23px;
	@include mobile(768){
		height: 40px;
		line-height: 40px;
	}
	@include mobile(1200){
		height: 50px;
		line-height: 50px;
	}
}

.az-main-menu{
	line-height: 23px;
	font-size: 0;
	@include mobile(768){
		line-height: 40px;
	}
	@include mobile(1200){
		line-height: 50px;
	}
}

.az-menu-icon{
	font-size: 0;
	background: transparent url('../img/az-menu-icon.png') left top no-repeat;
	width: 23px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	outline: none;
	@include mobile(768){
		display: none;
	}
}

.az-menu-list{
	display: none;
	position: absolute;
	font-size: 0;
	line-height: 24px;
	color: #fff;
	font-family: "ArimoBold";
	background: #444b50;
	border-top: 1px solid #fff;
	padding: 0;
	margin: 0;
	left: 0;
	padding: 5px 0;
	animation: fade-in .15s ease-in;
	z-index: 9;
	@include mobile(768){
		border-top: 0;
		display: block;
		line-height: 40px;
		padding: 0 10px;
	}
	@include mobile(1200){
		line-height: 50px;
		padding: 0 20px;
	}
	&.on{
		display: block;
	}
	li{
		list-style-type: none;
		font-size: 12px;
		@include mobile(768){
			display: inline-block;
			vertical-align: top;
		}
		@include mobile(1200){
			font-size: 14px;
		}
	}
	a{
		display: inline-block;
		vertical-align: top;
		padding: 0 10px;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		width: 100%;
		outline: none;
		&:hover{
			color: #edd536;
		}
		&.active{
			position: relative;
			&::after{
				content: "";
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				width: 0;
				height: 0;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-top: 8px solid #444b50;
			}
		}
		&.submenu{
			position: relative;
			&::before{
				content: "";
				position: absolute;
				top: 50%;
				right: 10px;
				@include mobile(768){
					right: 0px;
				}
				transform: translateY(-50%);
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid #fff;
			}
			&:hover{
				&::before{
					border-top: 4px solid #edd536;
				}
			}
		}
	}
	>li{
		position: relative;
		>ul{
			display: none;
			padding-left: 5px;
			background: #444b50;
			font-size: 0;
			@include mobile(768){
				padding: 5px;
				line-height: 30px;
			}
			@include mobile(768){
				position: absolute;
				top: 100%;
				left: 0;
				padding-left: 0;
				border-top: 1px solid #fff;
				min-width: 100px;
				&::after{
					content: "";
					position: absolute;
					top: -7px;
					left: 20px;
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid #444b50;
				}
				&::before{
					content: "";
					position: absolute;
					top: -8px;
					left: 20px;
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid #fff;
				}
			}
			@include mobile(1200){
				line-height: 30px;
			}
			&.on{
				display: block;
				animation: fade-in .15s ease-in;
				@include mobile(768){
					animation: fade-in-down .3s ease-in-out;
				}
			}
			li{
				width: 100%;
			}
		}
		@include mobile(1200){
			&:hover{
				>ul{
					// padding: 5px;
					// line-height: 34px;
					display: block;
					animation: fade-in-down .3s ease-in-out;
				}
			}
		}
	}
}

@keyframes fade-in{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes fade-in-down{
	from{
		opacity: 0;
		transform: translateY(10px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}

.az-lang{
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 0;
	a{
		display: inline-block;
		vertical-align: top;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 13px;
		font-family: "RobotoCondensedBold";
		&:hover{
			color: #edd536;
		}
	}
	span{
		display: inline-block;
		vertical-align: top;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 13px;
		font-family: "RobotoCondensedBold";
		margin: 0 3px;
	}
	@include mobile(1200){
		span, a{
			font-size: 14px;
		}
	}
}

.az-log-reg{
	font-size: 0;
	font-family: "ArimoBold";
	text-transform: uppercase;
	line-height: 50px;
	width: 100%;
	padding-left: 28px;
	background: #63686c url('../img/az-log-reg.png') left 8px center no-repeat;
	@include desktop(1200){
		padding-left: 20px;
		margin-top: 20px;
		background: transparent url('../img/az-log-reg768.png') left 0px center no-repeat;
		display: inline-block;
		vertical-align: top;
		width: auto;
	}
	span{
		font-size: 12px;
		margin: 0 3px;
		color: #fff;
		display: inline-block;
		vertical-align: top;
		@include desktop(1200){
			color: #3b65ba;
		}
	}
	a{
		font-size: 12px;
		color: #fff;
		text-decoration: none;
		display: inline-block;
		vertical-align: top;
		@include desktop(1200){
			color: #3b65ba;
		}
		&:active, &:focus{
			text-decoration: none;
			color: #fff;
		}
		&:hover{
			text-decoration: none;
			color: #edd536;
		}
	}
}

/*header top*/










/*header bottom*/

.az-header-bottom{
	background: #fff;
	@include mobile(1200){
		padding-bottom: 8px;
	}
}

.az-logo{
	padding-top: 24px;
	text-align: center;
	img{
		width: 100%;
		max-width: 230px;
		height: auto;
		@include mobile(1200){
			width: auto;
			max-width: 100%;
		}
	}
}

.az-contacts{
	padding-top: 20px;
	text-align: right;
	@include mobile(1200){
		padding-top: 5px;
	}
}

.az-phone{
	font-family: "ArimoRegular";
	font-size: 34px;
	line-height: 34px;
	color: #949494;
	text-decoration: none;
	display: inline-block;
	padding-left: 25px;
	background: transparent url('../img/az-phone.png') left center no-repeat;
	white-space: nowrap;
	strong{
		font-weight: normal;
		font-family: "ArimoBold";
		color: #3b65ba;
	}
	&:active, &:focus, &:hover{
		color: #949494;
		text-decoration: none;
		strong{
			color: #3b65ba;
		}
	}
}

.az-worktime{
	font-family: "ArimoRegular";
	font-size: 13.5px;
	color: #3b413c;
	padding-left: 20px;
	background: transparent url('../img/az-clock.png') left center no-repeat;
}

.az-header-links{
	padding-bottom: 5px;
	max-width: 730px;
	margin: 0 auto;
	@include mobile(768){
		padding-bottom: 7px;
	}
}

.az-header-link{
	font-family: "ArimoBold";
	font-size: 12px;
	display: inline-block;
	height: 35px;
	width: 100%;
	border: 2px solid #e74b3c;
	color: #e74b3c;
	line-height: 33px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	@include mobile(768){
		width: auto;
		padding: 0 16px;
	}
	&:focus, &:active{
		color: #e74b3c;
		text-decoration: none;
	}
	&:hover{
		color: #fff;
		background: #e74b3c;
		text-decoration: none;
	}
}

.az-header-link2{
	font-family: "ArimoBold";
	font-size: 12px;
	display: inline-block;
	height: 35px;
	width: 100%;
	border: 2px solid #3b65ba;
	color: #3b65ba;
	line-height: 33px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	@include mobile(768){
		width: auto;
		padding: 0 14px;
	}
	@include mobile(1200){
		padding: 0 20px;
	}
	&:focus, &:active{
		color: #3b65ba;
		text-decoration: none;
	}
	&:hover{
		color: #fff;
		background: #3b65ba;
		text-decoration: none;
	}
}

.az-header-link-block1, .az-header-link-block2, .az-header-link-block3{
	width: 100%;
	padding-top: 15px;
	@include mobile(768){
		width: auto;
	}
	@include mobile(1200){
		padding-top: 25px;
	}
}

.az-header-link-block3{
	@include mobile(768){
		margin-left: 21px;
	}
	@include mobile(1200){
		margin-left: 45px;
	}
}

.az-header-link-block2{
	@include mobile(1200){
		margin-left: 23px;
	}
}

.az-call-back{
	text-transform: uppercase;
	color: #e74b3c;
	text-decoration: underline;
	font-family: "ArimoBold";
	font-size: 12px;
	&:active, &:focus{
		color: #e74b3c;
		text-decoration: underline;
	}
	&:hover{
		color: #e74b3c;
		text-decoration: none;
	}
}