@import "vars";

.az-form{

}

.az-form-wrap{
	margin: 27px 0 0;
	padding: 10px 4px 20px;
	border: 4px solid #3b65ba;
	font-size: 0;
	@include mobile(768){
		padding: 15px 20px 15px;
	}
	@include mobile(1200){
		text-align: center;
		padding: 20px 30px 30px;
	}
	legend{
		padding: 0 8px;
		color: #3b413c;
		font-size: 20px;
		line-height: 20px;
		text-align: center;
		position: relative;
		font-family: "ArimoBold";
		text-transform: uppercase;
		border: 0;
		margin: 0;
		width: auto;
	}
}

.az-form-item-wrap{
	width: 100%;
	font-size: 0;
	position: relative;
	margin-bottom: 15px;
	text-align: left;
	label{
		font-family: "ArimoBold";
		font-size: 14px;
		line-height: 28px;
		font-weight: normal;
		margin: 0;
	}
	input{
		width: 100%;
		height: 40px;
		border: 1px solid #3b65ba;
		padding: 0 10px 0 50px;
		font-size: 14px;
		font-family: "ArimoRegular";
	}
	&::after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 40px;
		width: 46px;
		background: #3b65ba;
	}
	&.name{
		&::after{
			background: #3b65ba url(../img/az-form-name.png) no-repeat center;
		}
	}
	&.email{
		&::after{
			background: #3b65ba url(../img/az-form-email.png) no-repeat center;
		}
	}
	&.phone{
		&::after{
			background: #3b65ba url(../img/az-form-phone.png) no-repeat center;
		}
	}
	&.error{
		&::after{
			background-color: #e74b3c;
		}
		input{
			font-family: "ArimoBold";
			border: 2px solid #e74b3c;
			color: #e74b3c;
		}
	}
}

.az-submit{
	font-family: "ArimoBold";
	font-size: 14px;
	display: inline-block;
	height: 40px;
	width: 100%;
	border: 2px solid #3b65ba;
	color: #fff;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background: #3b65ba;
	transition: background 0.6s ease;
	&:focus, &:active{
		color: #fff;
		text-decoration: none;
	}
	&:hover{
		color: #3b65ba;
		background: #fff;
		text-decoration: none;
	}
}

.az-form-col{
	@include mobile(768){
		width: 50%;
		display: inline-block;
		vertical-align: top;
		padding: 0 7px;
	}
	@include mobile(1200){
		padding: 0 20px;
		width: 33.33%;
	}
}

.az-form-item-wrap2{
	@include mobile(768){
		padding-top: 28px;
	}
	@include mobile(1200){
		padding-top: 20px;
	}
}